
  <div class="">
    <h1 class="pt-3 ">Restaurant Listing</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Sl.no</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Email</th>
            <th scope="col">Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let item of collection">
           
            <th scope="row">{{item.id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.address}}</td>
            <td>{{item.email}}</td>
            <th><i
               (click)="deleteResto(item.id)"
               class="fa fa-trash" style="font-size:20px;color:red">
              </i>
              <a routerLink="/update/{{item.id}}">
                <i
                 class="fa fa-edit pl-lg-3 ml-2" style="font-size:20px;color:darkblue">
                </i>
              </a>
            </th>
          </tr>
          <tr>
       
          
        </tbody>
      </table>
  </div>