
<div class="container mt-3">
<h2 class="text-start pl-2 mt-3 mb-3">Register Here</h2>
    <div class="col-sm-8">
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <div class="form-group">
          <label>Email address</label>
          <input
          type="email"
          name="email"
          class="form-control"
          formControlName="email"
          placeholder="Enter Email"
        />
        <!--"email" is from get email() ts.file-->
        <span class="error" *ngIf="email.invalid && email.touched">email is not valid</span>
        </div>
        <div class="form-group">
          <label>Mobile Number</label>
          <input
          type="text"
          name="mobile"
          class="form-control"
          formControlName="mobile"
          placeholder="Mobile Number"
        />
        <span class="error" *ngIf="mobile.invalid && mobile.touched">Mobile number is not valid</span>
        </div>
       
        <div class="form-group">
          <label>Address</label>
          <input
          type="text"
          name="address"
          class="form-control"
          formControlName="address"
          placeholder="Enter Address"
        />
        <span class="error" *ngIf="address.invalid && address.touched">address is not valid</span>
        </div>
  
        <div class="form-group">
          <label>password</label>
          <input
          type="password"
          class="form-control"
          name="password"
          formControlName="password"
          placeholder="password"/>
          <span class="error" *ngIf="password.invalid && password.touched">password is not valid</span>
        </div>
       <!--disabling button with invalid field-->
        <button type="submit"[disabled]="registerForm.invalid" class="btn btn-primary">Register</button>
      </form>
    </div>
    
  </div>
  